<template>
  <button name="{{name}}" type="button">{{content}}</button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    name: String,
    content: String,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
button {
  min-width: 100px;
  margin-top: 10px;
  background-color: #ff7c26;
  color: white;
}
</style>