<template>
  <div :id="{ id }" class="item" :style="{'background-color': color}"
       v-bind:class="[isActive ? activeClass : '']"
       @click="selectItem()"
    >
    <div class="containerButton">
      <button class="closeItem" @click="removeItem">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="title">
      <span>{{ color }}</span>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Item',
  data() {
    return {
      isActive: false,
      activeClass: 'activeItem'
    };
  },
  props: {
    color: String,
    id: String,
    index: Number,
    position: String,
  },
  methods: {
    removeItem() {
      this.$parent.deleteItem(this.index, this.position);
    },
    selectItem() {
      this.isActive = true;
      this.$parent.desactivateItem();
      this.$parent.activeItemId = this.index;
      this.$parent.activeItemPosition = this.position;
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.item {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;
  float: left;
  position: relative;
}
.activeItem{
  border: medium solid white;
}
.closeItem {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #ff7c26;
}
</style>
