<template>
  <div id="listItemLeft" class="listItem">
    <div class="containerButton">
      <button class="addItem" @click="addItem('left')">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="containerItems"
         v-for="(item,index) in ItemsLeft"
         :key="index"
    >
      <Item :color="item.color" :id="item.id" :index="index" position="left"/>
    </div>
  </div>
  <ListButton />
  <div id="listItemRight" class="listItem">
    <div class="containerButton">
      <button class="addItem" @click="addItem('right')">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="containerItems"
         v-for="(item,index) in ItemsRight"
         :key="index"
    >
      <Item :color="item.color" :id="item.id" :index="index" position="right"/>
    </div>
  </div>
</template>

<script>
import Item from './Item.vue'
import uniqueId from 'lodash.uniqueid';
import ListButton from "./ListButton";

export default {
  name: 'listItem',
  components: {
    ListButton,
    Item
  },
  data() {
    return {
      ItemsLeft: [],
      ItemsRight: [],
      colorList: [
        "darkgrey",
        "darkblue",
        "aqua",
        "blue",
        "blueviolet",
        "brown",
        "darkgreen",
        "darkred",
        "sandybrown",
      ],
      activeItemId: null,
      activeItemPosition: null
    };
  },
  methods: {
    addItem(position){
      let listItem = this.ItemsLeft;

      if (position === 'right') {
        listItem = this.ItemsRight;
      }

      if (listItem.length < 6) {
        listItem.push({
          id: uniqueId('index-'),
          color: this.colorList[Math.floor(Math.random() * 9)],
          position: position
        })
      }
    },
    delete() {
      if (this.activeItemId !== null && this.activeItemPosition !== null) {
        this.deleteItem(this.activeItemId, this.activeItemPosition);
        this.activeItemId = null;
        this.activeItemPosition = null;
      }
    },
    deleteItem(index, position) {
      let listItem = this.ItemsLeft;

      if (position === 'right') {
        listItem = this.ItemsRight;
      }

      listItem.splice(index, 1);
    },
    desactivateItem() {
      if (this.activeItemId !== null && this.activeItemPosition !== null) {
        let listItem = this.ItemsLeft;

        if (this.activeItemPosition === 'right') {
          listItem = this.ItemsRight;
        }
        let activeItem = listItem.at(this.activeItemId);
        activeItem.isActive = false;
      }
    },
    move() {
      if (this.activeItemId !== null && this.activeItemPosition !== null) {
        let listItem = this.ItemsLeft;
        let listItemTarget = this.ItemsRight;
        let targetPosition = 'right';

        if (this.activeItemPosition === 'right') {
          listItem = this.ItemsRight;
          listItemTarget = this.ItemsLeft;
          targetPosition = 'left';
        }

        if (listItemTarget.length < 6) {
          listItemTarget.push(listItem.at(this.activeItemId));
          listItem.splice(this.activeItemId, 1);
          this.activeItemPosition = targetPosition;
          this.activeItemId = listItemTarget.length -1;
          console.log(this.activeItemId);
        }
      }
    },
    copy() {
      if (this.activeItemId !== null && this.activeItemPosition !== null) {
        let listItem = this.ItemsLeft;

        if (this.activeItemPosition === 'right') {
          listItem = this.ItemsRight;
        }

        if (listItem.length < 6) {
          let activeItem = listItem.at(this.activeItemId);
          listItem.push({
            id: uniqueId('index-'),
            color: activeItem.color,
            position: activeItem.position
          })
        }
      }
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.listItem {
  min-width: 600px;
  max-width: 600px;
  min-height: 800px;
  background-color: grey;
  margin: 10px;
  float: left;
}
.addItem {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #ff7c26;
}
.containerButton {
  position: relative;
}
.listButton {
  float: left;
}
</style>
