<template>
  <div class="listButton">
    <Button name="move" content="Move" @click="move"/><br />
    <Button name="delete" content="Delete" @click="deleteActive"/><br />
    <Button name="copy" content="Copy" @click="copy"/><br />
    <Button name="reference" content="Reference" />
  </div>
</template>

<script>
import Button from './Button.vue'

export default {
  name: 'ListButton',
  components: {
    Button
  },
  methods: {
    move() {
      this.$parent.move();
    },
    deleteActive() {
      this.$parent.delete();
    },
    copy() {
      this.$parent.copy();
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.listButton {
  float: left;
}
</style>